---
layout: default
---

{% assign posts_by_year = site.posts | group_by_exp: 'post', "post.date | date: '%Y'" %}
{% assign posts_by_year = posts_by_year | sort: 'name' | reverse %}

{% for year in posts_by_year %}
  <h2>{{ year.name }}</h2>
  <ul class="year-list">
    {% for post in year.items %}
      <li>
        <span class="post-date-inline">{{ post.date | date: '%b %d' }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
